In [61]:
import pandas as pd
pd.__version__

'2.2.2'

In [63]:

df_iter = pd.read_csv('taxi_zone_lookup.csv', iterator=True, chunksize=100000)
df = next(df_iter)

In [65]:
len(df)

265

In [67]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [69]:
df = pd.read_csv('taxi_zone_lookup.csv')
print(pd.io.sql.get_schema(df,name='taxi_zone_lookup'))

CREATE TABLE "taxi_zone_lookup" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [71]:

df.head(n=0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

0

In [73]:
 df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')

265